* {
    margin:0;
    padding: 0;
    font-family: Cambria;
    font-size: 24px;
}
body {
    background-color: rgba(107, 107, 107, 0.548);
}

.inputArea > label > input[type="button"] {
    font-size: 30px;
} 
.listElement p, .listElement input[typpe="button"], .listElement input[type="checkbox"]{
    display:inline-block;
    text-align: center;
}

.popUp {
    position: absolute;
    align-self: center;
    background-color: rgb(221, 223, 121);
    width: 100vw;
    height: 30px;
    margin:0;
    display: none;
}
.popUp.hide {
    display: none;
}
.popUp.show {
    display: block;
}